body,
.box::before {
background: url(img1.jpg)0;
background-size: cover;
}
#navigation-container {
  width: 100%;
 margin: 0 auto;
  height: 70px;
}
.left{
  text-align: center;
  width: 25%;

}
.lenk{
  text-decoration: none;
  font-family: 'Lora', serif;
  color: #000;
}
.right{
width: 75%;
}
.navigation-bar {
  margin-left: 0;
  margin-right: 0;
  opacity:0.8;
  top: 0;
  position: relative;
  overflow: hidden;
  background-color: #2E4053;
  height: 70px;
  width: 100%;
  text-align:right;
}
.navigation-bar img{
float:left;
}
.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}
.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}
.navigation-bar li a {
  color: white;
  font-size: 22px;
  font-family:sans-serif;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  opacity: 1;
}
.mainn{
  display: flex;
  height: 180%;
  z-index: -1;
}
.mainn:hover{
  background-filter: blur(20px);
}
.navigation-container li a:hover{
  color: #911b1b;
}

.box {
  display: flex;
  flex-direction: column;
margin: 100px auto;
position: relative;
padding: 10px 5px;
background: hsla(0,0%,100%,.3);
font-size: 20px;
font-family: 'Lora', serif;
line-height: 1.5;
border-radius: 10px;
width: 60%;
box-shadow: 5px 3px 30px black;
overflow: hidden;
}

.box::before {
content: '';
margin: -35px;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
filter: blur(40px);
z-index: -1;
}


@import url(https://fonts.googleapis.com/css?family=Lora);
html {
height: 100%
}

/* searchbar */


::selection {
   background: #212129;
}
.box{
  width: 99.5%;
}
.img{
  height: 150px;
}

.searchBox{
  border-radius: 10px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  position: relative;
  display: flex;
  margin-bottom: 28px;
  font-family: 'Helvetica', 'Arial',sans-serif;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
}

.inputbox{
  border: 4px solid #7086FF;
  border-right: none;
  font-size: 2vw;
  height: 6vw;
  border-radius: 10px 0 0 10px;
  width: 70%;
  left: 0;
}
.buttonbox{
  border: 4px solid #7086FF;
  border-left: none;
  padding: 1vw;
  font-size: 2vw;
  height: 7.3vw;
  border-radius: 0 10px 10px 0;
  background-color: #7086FF;
  color: white;
  text-align: center;
  width: 30%;
  right: 0;
}
.plname{
  overflow: visible;
}
.container{
  width: 100%;
}
.buttonbox:hover{
  background-color: #091764;
  color: white;
  cursor: pointer;
  border: 4px solid #091764;
  transition: .5s;
}
.mainn:hover{
  cursor: pointer;
  opacity: 0.8;
}
.foo{
  text-decoration:none;
color: black;
}
.foot {

background-color:#696969;
margin-right: 100%;
font-size: 20px;
width: 99%;
padding: 10px;
}
.gallery img {
  width: 100%;
  height: 200px;
}

/* searchbar */
