#navigation-container {
  width: 100%;
 margin: 0 auto;
  height: 70px;
}
.navigation-bar {
  margin-left: 0;
  margin-right: 0;
  opacity:0.8;
  top: 0;
  position: relative;
  overflow: hidden;
  background-color: #2E4053;
  height: 70px;
  width: 100%;
  text-align:right;
}
.navigation-bar img{
float:left;
}
.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}
.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}
.navigation-bar li a {
  color: white;
  font-size: 22px;
  font-family:sans-serif;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  opacity: 1;
}

.navigation-container li a:hover{
  color: #911b1b;
}

.container{
  width: 100%;
}

.line1{
  width: 50%;
}
.date{
  text-align: center;
}
.full{
  background: linear-gradient(to top, #66ccff 0%, #ffffcc 100%);
}
.foot {
background-color:#696969;
margin-right: 100%;
font-size: 20px;
width: 99%;
padding: 10px;
}
